# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge of join statements, using various types of joins and various methods for specifying the links between them.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table you will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, you'll use the same Customer Relationship Management (CRM) database that you saw from the previous lesson.
<img src='images/Database-Schema.png' width="600">

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [24]:
#Your code here
import sqlite3
import pandas as pd

conn = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
cur = conn.cursor()

## Display the names of all the employees in Boston.
Hint: join the employees and offices tables.

In [19]:
#Your code here
cur.execute("""select * from employees join offices using(officeCode) 
where city = 'Boston';""")
#cur.fetchmany(2)

## Do any offices have no employees?
Hint: Combine the employees and offices tables and use a group by.

In [18]:
#Your code here
cur.execute("""SELECT city, count(lastname) FROM employees join offices 
            using(officeCode) GROUP BY 1 ;""")
cur.fetchall()

[('Boston', 2),
 ('London', 2),
 ('NYC', 2),
 ('Paris', 5),
 ('San Francisco', 6),
 ('Sydney', 4),
 ('Tokyo', 2)]

## Write 3 Questions of your own and answer them

In [ ]:
# Answers will vary

In [ ]:
# Your code here

In [ ]:
# Your code here

In [ ]:
# Your code here

## Level Up: Display the names of each product each employee has sold

In [26]:
# Your code here
cur.execute("""SELECT lastname, productName 
FROM employees e JOIN customers c 
ON e.employeeNumber = c.salesRepEmployeeNumber
JOIN orders o using(customernumber)
JOIN orderdetails od using(ordernumber)
JOIN products p using (productCode)""")

df = pd.DataFrame(cur.fetchall())
len(df)
df.head
df.columns

<bound method NDFrame.head of              0                                            1
0     Jennings                               1958 Setra Bus
1     Jennings                       1940 Ford Pickup Truck
2     Jennings                      1939 Cadillac Limousine
3     Jennings  1996 Peterbilt 379 Stake Bed with Outrigger
4     Jennings                            1968 Ford Mustang
5     Jennings                           1968 Dodge Charger
6     Jennings                      1970 Plymouth Hemi Cuda
7     Jennings                           1969 Dodge Charger
8     Jennings                  1948 Porsche 356-A Roadster
9     Jennings                         1969 Dodge Super Bee
10    Jennings                        1976 Ford Gran Torino
11    Jennings                             1957 Vespa GS150
12    Jennings                    1957 Corvette Convertible
13    Jennings                      1982 Ducati 900 Monster
14    Jennings                      1982 Lamborghini Diablo
15    Jennings                    1971 Alpine Renault 1600s
16    Jennings                      1956 Porsche 356A Coupe
17    Jennings                        1961 Chevrolet Impala
18    Jennings                            1982 Ducati 996 R
19    Jennings                    1974 Ducati 350 Mk3 Desmo
20    Jennings                           2002 Yamaha YZR M1
21    Jennings                            2001 Ferrari Enzo
22    Jennings                           1969 Corvair Monza
23    Jennings                             1969 Ford Falcon
24    Jennings                            1903 Ford Model A
25    Jennings                     Collectable Wooden Train
26    Jennings                        1970 Triumph Spitfire
27    Jennings                          1904 Buick Runabout
28    Jennings                        18th century schooner
29    Jennings             1912 Ford Model T Delivery Wagon
...        ...                                          ...
2966    Gerard                     1917 Grand Touring Sedan
2967    Gerard                           1911 Ford Town Car
2968    Gerard                    1932 Model A Ford J-Coupe
2969    Gerard                       1928 Mercedes-Benz SSK
2970    Gerard                  1939 Chevrolet Deluxe Coupe
2971    Gerard    1938 Cadillac V-16 Presidential Limousine
2972    Gerard             1936 Mercedes Benz 500k Roadster
2973    Gerard                            2001 Ferrari Enzo
2974    Gerard                           1969 Corvair Monza
2975    Gerard                      1939 Cadillac Limousine
2976    Gerard                     1962 Volkswagen Microbus
2977    Gerard                        1936 Chrysler Airflow
2978    Gerard                  1980’s GM Manhattan Express
2979    Gerard  1996 Peterbilt 379 Stake Bed with Outrigger
2980    Gerard                              1982 Camaro Z28
2981    Gerard                            1957 Chevy Pickup
2982    Gerard               1998 Chrysler Plymouth Prowler
2983    Gerard                       1964 Mercedes Tour Bus
2984    Gerard                        1926 Ford Fire Engine
2985    Gerard                  1992 Ferrari 360 Spider red
2986    Gerard                           1970 Dodge Coronet
2987    Gerard                     1962 Volkswagen Microbus
2988    Gerard          1958 Chevy Corvette Limited Edition
2989    Gerard            1992 Porsche Cayenne Turbo Silver
2990    Gerard                  1980’s GM Manhattan Express
2991    Gerard                  1954 Greyhound Scenicruiser
2992    Gerard       1950's Chicago Surface Lines Streetcar
2993    Gerard             Diamond T620 Semi-Skirted Tanker
2994    Gerard                           1911 Ford Town Car
2995    Gerard             1936 Mercedes Benz 500k Roadster

[2996 rows x 2 columns]>

## Level Up: Display the Number of Products each employee has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use join statements, along with leveraging your foreign keys knowledge!